<div class="container">
  <form [formGroup]="loginForm">
    <div class="row">
      <h4>Account Details</h4>
      <div class="input-group input-group-icon">
        <input 
        [ngClass]="{ 'is-invalid': loginForm.get('email').errors?.required && loginForm.get('email').touched   }"
        type="email" placeholder="Email" formControlName="email">
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input 
        [ngClass]="{ 'is-invalid': loginForm.get('password').errors?.required && loginForm.get('password').touched   }"
        type="password" placeholder="Password" formControlName="password">
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <button style=" line-height: 1.4;  height: 3.4em;" class="btn btn-info  btn-block btn-round"
        (click)="login()">Login</button>
    </div>
  </form>
</div>